body{
    background-color: antiquewhite;
}
.container{
    margin: 50px 0 50px 0;
}
h1{
    font-size: 48px;
}
h2{
    font-size: 36px;
}
h3{
    font-size: 30px;
}
.text-center{
    text-align: center;
}
.flex{
    display: flex;
}
.justify-space{
    justify-content: space-around;
}
.align-center{
    align-items: center;
}
.btn{
    flex-basis: 20%;
    height:60px;
    background-color: antiquewhite;
    box-shadow: 1px 20px 20px 4px grey;
    border: none;
    font-size: 20px;
    text-shadow: -1px -1px 0px #b1aba3;

}

.start .btn#item-0:hover{
 background-color: rgba(0, 128, 0, 0.56);
}
.start .btn#item-1:hover{
    background-color: rgba(245, 238, 11, 0.74);
}
.start .btn#item-2:hover{
    background-color: #bb2323;
}
:focus {
    outline: 0;
}
.mt-150{
    margin-top:15%;
}
#cover{
    position: absolute;
    background-color: rgba(0,0,0,0.72);
    width: 100%;
    height: 100vh;
    display: none;;
    top: 0;
    left: 0;
}
#result-1{
    position: absolute;
    background-color: gray;
    width: 100%;
    height: 100vh;
    display: none;;
    top: 0;
    left: 0;
}
#result-2{
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100vh;
    color: #ffffff;
    top: 0;
    display: none;
    left: 0;
}
/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    z-index: 9;
    position:absolute;

}

/* Add styles to the form container */
#myForm {
    width: 100%;
    background-color: white;
}
#quiz{
padding: 20px 50px;
}
.day{
    padding: 10px;
    border: 0;
    color: grey;
    background-color: lightyellow;
    font-size: 20px;
    margin: 10px;
    width: 20%;


}
.center #submit{
    margin-left: 0;
}
.center{
    flex-direction: column;
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content:center;
    -webkit-align-items:center;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: transparent;
    position: absolute;
    right: 5px;
    top: 5px;
    border: 1px solid transparent;
    border-radius: 50px;
    font-size: 19px;
    cursor: pointer;
}
.form-container .cancel:hover{
    border: 1px solid black;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}
pre{
    overflow: auto;
    padding: 15px;
    margin: 15px 0;
    position: relative;
    background: #eee;
    font-family: monospace;
    color: #444;
    box-sizing: border-box;
    text-align: left;
}
ul{
    padding-inline-start:0;
}
ul li{
    list-style: none;
}
.question {
    font-weight: bold;
    margin-top: 10px;
    font-size: 20px;

}
#submit{
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 25px;
    margin-left: 50px;
    border: none;
    margin-bottom: 20px;
}
